.modalBackground
{
  background-color:#CCCCFF;
  filter:alpha(opacity=40);
  opacity:0.5;
}

.ModalWindow
{
  border: solid;
  background:#ffffff;
  padding: 0px 10px 10px 10px;
  position:absolute;
  top:-1000px;
}

.tblListStyle
{
    WIDTH: 800px;
    TABLE-LAYOUT: fixed
}
.tblHeadStyle
{
    WIDTH: 100px;
    OVERFLOW: hidden
}
.tblHeadStyleActive
{
    WIDTH: 100px;
    BACKGROUND: #7fb1e2;
    COLOR: #fff;
    OVERFLOW: hidden
}
.tblBodyStyle
{
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    OVERFLOW: hidden
}
.tblBodyStyleActive
{
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 4px;
    OVERFLOW: hidden
}
.tblPadding2 {
    padding: 2px;
}

.tblPadding3 {
    padding: 3px;
}

.AutoExtender
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: buttonshadow 1px solid;
    BACKGROUND-COLOR: #fff;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    padding:0px;
    
    VISIBILITY: hidden;
    COLOR: WindowText;
    OVERFLOW: auto;
    BORDER-TOP: buttonshadow 1px solid;
    z-index: 1;
    position:absolute;
    CURSOR: default;
    BORDER-RIGHT: buttonshadow 1px solid;
}
.AutoExtenderList
{
    z-index: 1;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #FFFFFF;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    COLOR: #000000;
    OVERFLOW: visible;
    FONT-FAMILY: tahoma,verdana,sans-serif;
    FONT-SIZE: 10pt;
    CURSOR: default;
    PADDING-TOP: 1px
}
.AutoExtenderHighlight
{
    z-index: 1;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffdd97;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    CURSOR: default;
    FONT-FAMILY: tahoma,verdana,sans-serif;
    FONT-SIZE: 10pt;
    PADDING-TOP: 1px;
    color: #000000;
}

.SP_dataLabel
{
    MARGIN-TOP: 3px;
    FONT-FAMILY: tahoma,sans-serif;
    MARGIN-BOTTOM: 3px;
    color: black;
    FONT-SIZE: 8pt;
    margin-left: 0px;
}

.SP_dataLabelCell
{
    BORDER-BOTTOM: black 1px;
    BORDER-LEFT: black;
    BACKGROUND-COLOR: #ebf3ff;
    PADDING-LEFT: 7px;
    BORDER-TOP: #d8d8d8 1px solid;
    BORDER-RIGHT: black
}

.SP_dataLabelCellRightBorder
{
    BORDER-BOTTOM: black 1px;
    BORDER-LEFT: black;
    BACKGROUND-COLOR: #ebf3ff;
    PADDING-LEFT: 7px;
    BORDER-TOP: #d8d8d8 1px solid;
    BORDER-RIGHT: #d8d8d8 1px solid;
}

.SP_dataLabelCellWhite
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BACKGROUND-COLOR: white;
    BORDER-TOP: black 1px;
    BORDER-RIGHT: medium none
}
.SP_itemLabelCell
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BACKGROUND-COLOR: white;
    BORDER-TOP: #d8d8d8 1px solid;
    BORDER-RIGHT: medium none
}
.SP_Row
{
    HEIGHT: 25px
}
.SP_BodyMargin
{
    MARGIN-LEFT: 10px
}

#header
{
    text-align: left;
    background-color: #5D6D7E;
    color: White;
    font-size:120%;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    height: 70px;
}
